// Define variables for your color scheme
$primary-colour: #FF5A60;
$secondary-colour: #ffffff;
$grey-1: #404040;
$grey-2: #838383;
$grey-3: #c9c9c9;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
