<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <h4>Edit <%= @flat.name %></h4>

      <%= render "form", flat: @flat %>

      <p>Back to <%= link_to @flat.name, flat_path(@flat) %></p>

    </div>
  </div>
</div>
