<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <h4>Create a flat</h4>

      <%= render "form", flat: @flat %>

      <p><%= link_to "All flats", flats_path %></p>
    </div>
  </div>
</div>
